@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #ffffff;
  --background: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ffffff;
    --background: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Helvetica, sans-serif;
}
footer{
  color: #474747;
}


.playAndpause {
  margin-top: 10px;
  display: flex;
  background-color: #ffffff;
 
  justify-content: center;
}
.hoverP:hover {
  cursor: pointer;
} 
.reset {
  color: #ffffff;
}